html:has(.toggle:checked) {
  overflow-y: hidden;
}
@media screen and (max-width: 768px) {
  html::-webkit-scrollbar {
    display: none;
  }
}
.hamburger > div::before,
.hamburger > div::after {
  transition: all 0.1s linear;
}
.hamburger > div {
  transition: all 0.1s linear 0.1s;
}
.toggle:checked + .hamburger > div {
  background: transparent;
  transition: transform 0.1s linear;
}
.toggle:checked + .hamburger > div::before,
.toggle:checked + .hamburger > div::after {
  width: 100%;
  transition:
    width 0.1s ease-in-out,
    transform 0.1s ease-in-out 0.1s,
    top 0.1s;
  transform: translateY(0.6rem) rotate(45deg);
  right: 0;
  left: 0;
  bottom: 0;
}
.toggle:checked + .hamburger > div::after {
  transform: translateY(-0.6rem) rotate(-45deg);
}
.menu {
  visibility: hidden;
}

.menu > div > div {
  transform: translateX(-100%);
  transition: all 0.2s ease;
  width: 100%;
}
.toggle:checked ~ .menu {
  visibility: visible;
  transition: all 0.2s ease;
}

.toggle:checked ~ .menu > div > div {
  transform: translateX(0);
  transition: all 0.2s ease 0.2s;
}
